<h1>Netflix Titles List</h1>
<% @netflix_titles.each do |title| %>
  <div>
    <h2><%= title.title %></h2>
    <p>Genre: <%= title.genre %></p>
    <p>Year: <%= title.year %></p>
    <p>Country: <%= title.country %></p>
    <p>Published At: <%= title.published_at %></p>
    <p>Description: <%= title.description %></p>
    <hr>
  </div>
<% end %>
<%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %>